﻿body {
   font-family: sans-serif;

}
.Header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 135px;
    background: #FFF;
    
}

h1 {
    margin: 20px 0px 20px 40px;
    font-weight: 100;
}

h2 {
 font-weight: 100;
 margin-top: 10px;
}
li {
    list-style-type: none;
    display: inline;
    margin: 2px;
}


button {
    border: 0px;
    width: 135px;
    height: 40px;
    cursor: pointer;
    padding: 2px;
    color: #FFF;
    font-size: 18px
}
button:hover {
    border: 1px #000000 solid;
}

.BlueButton {
    background: #4a8bb5;
}

.GreenButton {
    background: #5db25d;
}

.RedButton {
    background: #b75b5b;
}

.AssetsList {
    margin-left: 30px;
    width: 90%;
    height: 75%;
    overflow: auto;
    padding: 5px;
    margin-top: 130px;
}

.AssetsTable td, th{
    border: 1.5px #a9a9a9 solid;
    height: 30px;
    padding:4px;
    text-align: center;
}
.AssetsTable {
    border-collapse: collapse;
}

.trClick:hover {
    background: #4a8bb5;
    cursor: pointer;
}

.HeadTable{
    background: #d3d3d3;

}


.DisabledButton {
    background: #a9a9a9;
    color: #d3d3d3;
}

.PopupEditAsset {
    display: none;
    position: absolute; 
    left: 50%; 
    top: 50%; 
    height: 340px; 
    width: 690px; 
    margin-left: -369px; 
    margin-top: -240px;
    z-index: 101;
    background: #FFF;
    padding: 25px;
}

.Overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 100;
}

input[type=text], select, input[type=number]{
    height: 30px;
    font-size: 18px;
    width: 534px;
    margin: 3px;
}

input[type=checkbox]{
    margin-bottom: 15px;
}

.notMoneyText {
  
    display: none;
}

.notMoneyText input {
    width: 85px !important;
   
}

.SelectedTr {
    background: #4a8bb5;
}