﻿@using AssetEditor.Models
<h2>Новый актив</h2>
<form id="addAssetForm">
    Неденежный актив <input type="checkbox" id="notMoney" name="type" value="true"> 
    <table>
        <tr>
            <td>Имя актива </td>
            <td><input type="text" name="Name" value=""/> </td>
        </tr>
        <tr>
            <td>Описание актива</td>
            <td><input type="text" name="Discription" value=""/> </td>
        </tr>
        <tr>
            <td>Сумма </td>
            <td class="MoneyText">
                <input type="number" name="Money" value=""/>

            </td>
            <td class="notMoneyText">
                Начальная<input type="number" name="StartPrice" value="0"/>
                Оценочная<input type="number" name="EstimatedPrice" value="0"/>
                Остаточная<input type="number" name="ResidualPrice" value="0"/>
            </td>
        </tr>
        <tr>
            <td>Валюта </td>
            <td>
                <select name="Currency">
                    @foreach (var b in Enum.GetValues(typeof(Asset.Currencys)))
                    {
                        <option value="@b">@b</option>
                    }
                </select>
            </td>
        </tr>
    </table>
</form>
<br/>
<button id="saveNewAsset" class="GreenButton">Сохранить</button>







