﻿@using System.Web.UI.WebControls
@using AssetEditor.Models
@if (ViewBag.Asset != null)
{

    <h2>Изменить актив</h2>
    <form id="addAssetForm">
        Неденежный актив 
        @if (ViewBag.Asset.Money == 0)
        {
            <input  type="checkbox" id="notMoney" name="type" value="true">
        }
        else
        {
            <input checked="checked" type="checkbox" id="notMoney" name="type" value="false">
        }
      <table>
            <tr>
                <td>Имя актива </td>
                <td><input type="text" name="Name" value="@ViewBag.Asset.Name"/> </td>
            </tr>
            <tr>
                <td>Описание актива</td>
                <td><input type="text" name="Discription" value="@ViewBag.Asset.Discription"/> </td>
            </tr>
            <tr>
                <td>Сумма </td>
                <td class="MoneyText">
                    <input type="number" name="Money" value="@ViewBag.Asset.Money"/>

                </td>
                <td class="notMoneyText">
                    Начальная<input type="number" name="StartPrice" value="@ViewBag.Asset.StartPrice"/>
                    Оценочная<input type="number" name="EstimatedPrice" value="@ViewBag.Asset.EstimatedPrice"/>
                    Остаточная<input type="number" name="ResidualPrice"  value="@ViewBag.Asset.ResidualPrice"/>
                </td>
            </tr>
            <tr>
                <td>Валюта </td>
                <td>
                    <select name="Currency">
                        @foreach (var b in Enum.GetValues(typeof(Asset.Currencys)))
                        {
                                if (ViewBag.Asset.Currency.ToString() == b.ToString())
                                {
                                    <option selected="selected" value="@b">@b</option>
                                }
                                else
                                {
                                    <option value="@b">@b</option>
                                }
                        }
                    </select>
        </td>
    </tr>
</table>
</form>
<br/>
    <button id="editAsset" class="GreenButton">Сохранить</button>
   
}
else
{
    <span style="color: #800000; font-size: 18px;">Данный актив отсутствует</span>
}






