﻿@using AssetEditor.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="/Content/Style.css"/>
    <script type="text/javascript" src="/scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/scripts/javascript.js"></script>
    <title>Редактирование активов</title>
</head>
<body>
    <div class="Header">
        <h1>Редактирование активов</h1>
        <ul id="menu">
            <li><button id="addButton" class="GreenButton">Добавить</button></li>
            <li><button disabled="disabled" id="editButton" class="BlueButton DisabledButton">Редактировать</button></li>
            <li><button disabled="disabled" id="deleteButton" class="RedButton DisabledButton">Удалить</button></li>
        </ul>
    </div>
<div class="AssetsList">
    <table class="AssetsTable" title="Выберите запись">
        <tr class="HeadTable">
            <th>Актив</th>
            <th>Описание</th>
            <th colspan="3">Сумма</th>
            <th>Валюта</th>
        </tr>
        @foreach (var b in (List<Asset>) ViewBag.Assets)
        {
            <tr class="trClick" id="@b.Id">
                <td>@b.Name</td>
                <td>@b.Discription</td>
                @if (b.Money == 0)
                {
                    <td>Нач. @b.StartPrice</td>
                    <td>Оцен. @b.EstimatedPrice</td>
                    <td>ост. @b.ResidualPrice</td>
                }
                else
                {
                    <td colspan="3">@b.Money</td>


                }

                <td>@b.Currency</td>
            </tr>
        }
    </table>
</div>
<div class="Overlay"></div>
<div class="PopupEditAsset"></div>
</body>
</html>
